
.bg{
	height: 100vh;
	width: 100vw;
	background-image: url(img/photo.jpg);
	opacity: 0.8;
	background-repeat: no-repeat;
	position: sticky;
	background-attachment: fixed;
}
.bg h2{

	text-align: center;
	font-family: verdana, sans-serif;
	color: #ef203b;
	font-size: 28px;
}


.first{
	margin: auto;
	margin-top: 22%;
	height: 175px;
	width: 660px;
	background: rgba(240,61,83,0.8);
	
}
.name h1{
	padding: 45px;
	text-align: center;
	text-transform: uppercase;
	font-size: 55px;
	color: #fff;
}
.twist{
	font-size: 48px;
	color: #ef203b;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}
.about_me{
	box-sizing: content-box;
	height: auto;
	background: #f4f4f4;
	padding-bottom: 40px;
}
.about_me h3{
	text-align: center;
	font-size: 60px;
	padding-top: 30px;
	padding-bottom: 80px;
}
.about_me p{
	color: #3d3d3d;
	font-size: 20px;
	padding-bottom: 40px;
}
.about_me span{
	color: red;
}
.cwm{
	background: #565656;
	padding-bottom: 70px;
}
.cwm h4{
	padding-top: 50px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
}
.vk img, .inst img, .gml img{
	margin-top: 80px;
	height: 120px;
	width: 120px;
	text-align: center;
}
footer{
	padding-right: 10px;
	height: 30px;
	text-align: right;
	background: #565656;
}
@media screen and (max-width: 1025px) {
	.first{
		margin-top: 350px;
		padding-bottom: 150px; ;
	}	
	.bg{
		padding-bottom: 150px;
		height: 100%;
		width: 100%;
	}
	.vk img, .inst img, .gml img{
		width: 100px;
		height: 100px;
	}
	.about_me p{
		font-size: 35px;
	}
}
